* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  background-image: url(../img/black-concrete-wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
